@charset "UTF-8";

/* font */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
html,body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{padding:0; margin:0;}
body{font-family:'Noto Sans KR', sans-serif, Helvetica; font-size:15px; font-weight:300; color:#333; letter-spacing:-0.5px; line-height:100%; -webkit-text-size-adjust:none;}
h1,h2,h3,h4,h5,h6,strong{font-weight:normal; font-size:100%;}
fieldset,img,button{border:0;}
img,input,button{vertical-align:top;}
table{border-collapse:collapse;}
address,em,i{font-style:normal;}
ol,ul,li{list-style:none; line-height:1.5em;}
hr{display:none;}
a{text-decoration:none; color:#333;}
a:hover,a:active{text-decoration:none;}
legend{position:absolute; left:-9999px; top:0;}
caption{overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
button{background:none; cursor:pointer;}
button::-moz-focus-inner{padding:0; border:0;}
p{line-height:1.5em;}
dl,dt,dd{line-height:1.5em;}
html.on, body.on{overflow:hidden;}
input, select{font-family:'Noto Sans KR', sans-serif, Helvetica; color:#333;}

#wrap{position:relative; width:100%; min-width:1140px;}
#container{padding-top:80px; margin:0 auto;}
#header{position:fixed; width:100%; height:80px; background-color:#fff; border-bottom:1px solid #dfdfdf; z-index:1000;}
#header .header_wrap{padding:0 30px;}
#header .header_inner{position:relative; max-width:1140px; min-width:692px; padding:30px 224px 0; margin:0 auto;}
#header .logo{position:absolute; left:0; top:23px;}
#header .logo a{display:inline-block; width:163px; height:32px; background:url(/resources/images/common/logo.png) 0 top no-repeat; text-indent:-9999px;}
#header .member{position:absolute; right:0; top:30px;}
#header .member li{position:relative; float:left; margin:0 13px; line-height:1em;}
#header .member li:first-child{margin-left:0;}
#header .member li.line:before{content:''; display:block; position:absolute; left:-12px; top:3px; height:9px; width:1px; background:#333;}
#header .member li:last-child{margin-right:0;}
#header .member li a{display:inline-block;}

#gnb .depth1 ul:after{content:""; display:block; clear:both;}
#gnb .depth1 ul > li{float:left; padding-bottom:25px; margin-left:65px; font-size:20px; line-height:1em; font-weight:400;}
#gnb .depth1 ul > li:hover{background:url(/resources/images/common/gnb_bar.jpg) 0 30px no-repeat;}
#gnb .depth1 ul > li:first-child{margin-left:0;}
#gnb .depth1 ul > li:last-child{width:26px; height:18px; background:url(/resources/images/common/ico_menu.png) 0 top no-repeat; vertical-align:bottom; text-indent:-9999px; cursor:pointer;}
#gnb .depth2{position:absolute; left:50%; top:25px; width:1140px;  margin-left:-570px;}
#gnb .depth2 .inner{overflow:hidden; position:absolute; left:0; top:100.5px; width:100%; height:0; z-index:100;}
#gnb .depth2 .inner .gnb_depth2{display:none;} 
#gnb .depth2 .inner .gnb_depth2.on{display:block;}
#gnb .depth2 .gnb_depth2 .gnb_txt{float:left; width:235px;}
#gnb .depth2 .gnb_depth2 .gnb_txt h2{font-size:30px; line-height:100%;}
#gnb .depth2 .gnb_depth2 .gnb_txt h2:after{content:""; display:block; width:36px; height:1px; margin:20px 0 30px 0; background-color:#333;}
#gnb .depth2 .gnb_depth2 .gnb_txt p{line-height:1.5em; font-size:14px; color:#888;}
#gnb .depth2 .gnb_depth2 ul{float:left; height:150px; margin-left:80px;}
#gnb .depth2 .gnb_depth2 ul:first-child{margin-left:0;}
#gnb .depth2 .gnb_depth2 ul li{margin-bottom:30px; font-size:18px; font-weight:400;}
#gnb .depth2 .gnb_depth2 ul li a:hover{color:#2484c6;}
#gnb .depth2 .gnb_depth2 .out_link ul{margin-left:80px;}
#gnb .depth2 .gnb_depth2 .out_link ul li:after{content:""; display:inline-block; width:16px; height:16px; margin-left:7px; background:url(/resources/images/common/ico_out.png) center center no-repeat;}
#gnb .depth2.all{display:block;}
#gnb .depth2.all .gnb_txt{float:none; width:auto;}
#gnb .depth2.all .gnb_txt h2{margin-bottom:30px; font-size:24px;}
#gnb .depth2.all .gnb_txt h2:after{display:none;}
#gnb .depth2.all .gnb_txt p{display:none;}
#gnb .depth2.all .gnb_depth2{display:block; float:left; height:285px; padding:0 40px; border-left:1px solid #e2e2e2;}
#gnb .depth2.all .gnb_depth2:first-child{padding-left:0; border:none;}
#gnb .depth2.all .gnb_depth2 ul{float:none; height:auto; margin-left:0;}
#gnb .depth2.all .gnb_depth2 ul li{margin-bottom:17px; font-size:16px; font-weight:normal; color:#666;}
#gnb .depth2.all .gnb_depth2 .about{float:left;}
#gnb .depth2.all .gnb_depth2 .out_link{float:left; margin-left:40px;}
#gnb .depth2 .img_area{position:relative; float:right;}
#gnb .depth2 .img_area a{position:absolute; left:35px; bottom:35px;}
.gnb_bg{position:absolute; left:0; top:80px; width:100%; height:0; background:#f5f5f5; border-bottom:1px solid #dfdfdf; z-index:90;}

#footer .inner{position:relative; width:1140px; padding:18px 0; margin:0 auto;}
#footer .bottom .inner{padding:25px 0 50px 0;}
#footer .inner:after {display:block;clear:both;content:"";}
#footer .top{width:100%; height:58px; background-color:#dbdbdb;}
#footer .top .left{float:left;}
#footer .top .left li{float:left; margin-left:40px; font-weight:500;}
#footer .top .left li a{font-size:14px; color:#666;}
#footer .top .left li:first-child{margin-left:0;}
#footer .top .right{float:right; width:210px;}
#footer .top .site_box a.site_btn{display:block; padding-left:15px; line-height:150%; background:url(/resources/images/common/arrow_b.png) 175px center no-repeat; color:#666;}
#footer .top .site_box .inner_pop{display:none; position:absolute; right:0; bottom:0; width:210px; background:#b4b4b4; border:1px solid #a1a1a1; z-index:80;}
#footer .top .site_box .inner_pop ul{padding:20px 20px 70px;}
#footer .top .site_box .inner_pop li a{color:#fff; line-height:100%;}
#footer .top .site_box:hover .inner_pop{display:block;}
#footer .top .site_box:hover a.site_btn{display:block; position:absolute; right:0; top:0px; width:195px; height:16px; padding:16px 0 17px 15px; line-height:150%; background:url(/resources/images/common/arrow_t.png) 175px center no-repeat; border-top:1px solid #a1a1a1; color:#fff; z-index:81;}
#footer .top .site_box ul li a:hover{color:#2484c6;}
#footer .bottom{background-color:#f5f5f5;}
#footer .bottom .contact{overflow:hidden; padding-bottom:17px; border-bottom:1px solid #e7e7e7;}
#footer .bottom .contact > li{float:left; margin-left:60px; color:#999;}
#footer .bottom .contact > li:first-child{margin-left:0;}
#footer .bottom .contact > li > span{display:inline-block; float:left;}
#footer .bottom .contact > li > dl{float:left; width:185px; margin-left:50px;}
#footer .bottom .contact > li dt{float:left; width:50px;}
#footer .bottom .contact > li dd{float:left; width:135px;}
#footer .bottom .footer_txt a.left{float:left; width:156px;}
#footer .bottom .footer_txt .center{float:left; margin-left:40px; font-size:13px; color:#afafaf; letter-spacing:0.3px;}
#footer .bottom .footer_txt .right{float:right;}

/*quick menu*/
#quick_menu{position:fixed; right:0; bottom:130px; width:98px; padding:25px 0 0; background-color:#fff; border:1px solid #e2e2e2; text-align:center; z-index:1000;}
#quick_menu ul li{margin:0 28px 20px; border-bottom:1px solid #e2e2e2; line-height:1em;}
#quick_menu ul li.quick_list1 a{background:url(/resources/images/common/quick_img1.png) 9px top no-repeat;}
#quick_menu ul li.quick_list2 a{background:url(/resources/images/common/quick_img2.png) 4px top no-repeat;}
#quick_menu ul li.quick_list3 a{background:url(/resources/images/common/quick_img3.png) 10px top no-repeat;}
#quick_menu ul li.quick_list4, #quick_menu ul li.calculator{border-bottom:0; margin-bottom:0;}
#quick_menu ul li.quick_list4 a{background:url(/resources/images/common/quick_img4.png) 9px top no-repeat; border-bottom:none;}
#quick_menu ul li.calculator a{background:url(/resources/images/common/quick_img5.png) 10px top no-repeat;}
#quick_menu ul li.service a{background:url(/resources/images/common/quick_img4.png) 10px top no-repeat;}
#quick_menu ul li a{display:block; padding:36px 0 20px;font-size:14px; color:#666; line-height:1em;}
#quick_menu ul li a:hover{color:#2484c6;}
#quick_menu a.btn_top{display:block; padding:7px 0; font-size:14px; color:#fff; background-color:#b4b4b4;}

/* btn*/
.commonBtn1{display:inline-block; padding:8px 15px; border-radius:20px; font-size:14px; color:#fff; letter-spacing:0.5px;}
.commonBtn2{display:inline-block; width:105px; padding:15px 0; border-radius:25px; font-size:15px; color:#fff; text-align:center; letter-spacing:-0.5px;}
.commonBtn3{display:inline-block; padding:15px 25px; border-radius:27px; font-size:16px; color:#fff; text-align:center;}
.commonBtn4{display:inline-block; width:89%; padding:20px 25px; border-radius:25px; font-size:16px; color:#fff; text-align:center;}
.commonBtn5{display:inline-block; padding:18px 25px; border-radius:27px; font-size:16px; color:#fff; text-align:center;}
.commonBtn6{display:inline-block; padding:18px 36px; border-radius:30px; font-size:20px; color:#fff; text-align:center;}
.type1{padding:8px 32px 8px 15px; background:url(/resources/images/common/arrow_r.png) 85% center no-repeat; border:1px solid #ccc;}
.type2{background-color:#2484c6;}
.type3{background-color:#888;}
.type4{background-color:#666;}
.type5{background-color:#22bcc6;}
.type6{border:1px solid #888; color:#888;}
.etc{margin:-7px;}
.etc2{margin-left:8px;}

/* console */
.console_pop{display:none;}
.console_pop.on{display:block; position:absolute; left:50%; top:10%; width:450px; height:290px; margin-left:-225px; background:#fff; z-index:1000;}
.console_pop .cs_inner{padding:60px 30px 30px; text-align:center;}
.console_pop p{margin-bottom:20px; font-size:18px; font-weight:400;}
.console_pop .cont{overflow:hidden; padding:20px 0; margin-bottom:20px; background:#f9f9f9;}
.console_pop .cont span{display:inline-block; float:left; width:50%; line-height:1.5em; box-sizing:border-box;}
.console_pop .cont span:first-child{border-right:1px solid #e9e9e9; font-weight:400;}
.console_pop .cs_close{position:absolute; right:20px; top:20px;}

/*breif */
.brief{overflow:hidden; display:none; position:fixed; left:0; top:50%; z-index:10000; width:0; height:0; margin-top:0; background:url(/resources/images/common/brief_bg_0.jpg) center center no-repeat; background-size:cover; border-top:3px solid #2484c6; border-bottom:3px solid #2484c6; transition:background-image 1s ease-in-out;}
.brief #jp_container_2{width:1140px; height:560px;}
.brief.on{display:block; min-width:1100px;}
.brief .special_inner{overflow-y:auto; overflow-x:hidden; position:absolute; left:0; top:50%; width:100%;}
.brief .special_slide{overflow:hidden; position:relative; left:50%; top:0; width:1450px; /* min-width:1000px; */ margin-left:-725px; margin-bottom:28px;}
.brief .slide_list{overflow:hidden; height:693px;}
.brief .slide_list > li{position:absolute; left:100%; top:0; width:100%; color:#fff;}
.brief .slide_list .special_box{overflow:hidden; position:relative; z-index:1; width:1140px; height:560px; padding-top:132px; margin:0 auto; opacity:0; background-position:0 132px; background-repeat:no-repeat;}
.brief .slide_list h3{font-size:38px; font-weight:300; line-height:1.2em; letter-spacing:-1.5px; margin-bottom:20px;}
.brief .slide_list h3 strong{font-weight:500;}
.brief .slide_list p{font-weight:100; line-height:160%; letter-spacing:0;}
.brief .slide_list .icon_list li{padding-left:78px; background-position:0 0; background-repeat:no-repeat; font-size:14px; color:#fff;}
.brief .slide_list .opa_box{position:relative; left:0; top:30px; opacity:0; transition:top;}
.brief .slide_list .list1{left:0; text-align:center;}
.brief .slide_list .list1 .opa1{top:0; margin-bottom:120px;}
.brief .slide_list .list1 .opa2{top:0;}
.brief .slide_list .list1 .special_box{background-image:none;}
.brief .slide_list .list1 h2{width:382px; height:97px; margin:0 auto; padding-top:209px;}
.brief .slide_list .list1 h2 img{width:100px; opacity:0;}
.brief .slide_list .list1 p{margin-bottom:75px; font-size:24px;}
.brief .slide_list .list1 .scroll img{margin:5px 0 0 9px;}
.brief .slide_list .list2 .special_box{background-image:url(/resources/images/common/brief_list2_img_01.jpg);}
.brief .slide_list .list2 .opa1{left:70px; margin-bottom:60px;}
.brief .slide_list .list2 .opa1 h3{padding-top:75px;} 
.brief .slide_list .list2 .opa2{left:70px;}
.brief .slide_list .list3 .special_box{background-image:url(/resources/images/common/brief_list3_img_01.jpg);}
.brief .slide_list .list3 .opa1_1{position:absolute; right:0; top:132px; opacity:0;}
.brief .slide_list .list3 .opa1 h3{padding-top:326px;}
.brief .slide_list .list3 .opa1, .brief .slide_list .list3 .opa2{left:70px;}
.brief .slide_list .list4 .special_box{background-image:url(/resources/images/common/brief_list4_img_01.jpg);}
.brief .slide_list .list4 .opa1{left:70px;}
.brief .slide_list .list4 .opa1 h3{padding-top:75px;}
.brief .slide_list .list4 .opa2{left:445px; margin-top:-192px;}
.brief .slide_list .list4 .opa2 ul{overflow:hidden;}
.brief .slide_list .list4 .opa2 ul li{float:left; margin:0 30px; padding-top:73px; background-position:center 0; background-repeat:no-repeat; text-align:center;}
.brief .slide_list .list4 .opa2 ul li span{display:block; margin-bottom:15px; font-size:18px;}
.brief .slide_list .list4 .opa2 ul li.list1{background-image:url(/resources/images/common/brief_list4_img_02.png);}
.brief .slide_list .list4 .opa2 ul li.list2{background-image:url(/resources/images/common/brief_list4_img_03.png);}
.brief .slide_list .list4 .opa2 ul li.list3{background-image:url(/resources/images/common/brief_list4_img_04.png);}
.brief .slide_list .list5 .special_box{background-image:url(/resources/images/common/brief_list5_img_01.jpg);}
.brief .slide_list .list5 .opa1{left:70px;}
.brief .slide_list .list5 .opa1 h3{padding-top:75px;}
.brief .slide_list .list5 .opa2{width:498px; left:572px; margin-top:-175px;}
.brief .slide_list .list5 .opa2 > ul > li{overflow:hidden; width:100%; padding-top:20px; border-top:3px solid #fff;}
.brief .slide_list .list5 .opa2 > ul > li .list_tit{float:left; margin-right:120px;}
.brief .slide_list .list5 .opa2 > ul > li .list_tit span{color:#75c7ff;}
.brief .slide_list .list5 .opa2 > ul > li ul{float:left;}
.brief .slide_list .list5 .opa2 > ul > li ul li{overflow:hidden; width:294px; margin-bottom:30px; font-size:30px; line-height:100%;}
.brief .slide_list .list5 .opa2 > ul > li ul li span.left_cont{float:left;}
.brief .slide_list .list5 .opa2 > ul > li ul li span.right_cont{float:right;}
.brief .slide_list .list5 .opa2 > ul > li ul li span.right_cont small{font-size:20px;}
.brief .slide_list .list6 .special_box{background-image:url(/resources/images/common/brief_list6_img_01.jpg);}
.brief .slide_list .list6 .opa1{left:675px; padding-top:351px;}
.brief .slide_list .list6 .opa1 h3{color:#333;}
.brief .slide_list .list6 .opa2{left:675px;}
.brief .slide_list .list6 .opa2 p{color:#333;}
.brief .slide_list .list6 .opa3{left:283px; margin-top:-393px;}
.brief .slide_list .list6 .opa4{left:580px;}
.brief .slide_list .list6 .opa5{left:327px; padding-top:55px;}
.brief .slide_list .list7 .special_box{background-image:url(/resources/images/common/brief_list7_img_01.jpg);}
.brief .slide_list .list7 .opa_box{text-align:center;}
.brief .slide_list .list7 .opa1{padding-top:330px;}
.brief .slide_list .list8 .special_box{background-image:url(/resources/images/common/brief_list8_img_01.jpg);}
.brief .slide_list .list8 .opa_box{text-align:center;}
.brief .slide_list .list8 .opa1{padding-top:83px; margin-bottom:120px;}
.brief .slide_list .list9 .special_box{background-image:url(/resources/images/common/brief_list9_img_01.jpg);}
.brief .slide_list .list9 .opa1_wrap{position:absolute; left:68px; top:200px;}
.brief .slide_list .list9 .opa2{padding:298px 0 0 694px; color:#000;}
.brief .slide_list .list10 .special_box{background-image:url(/resources/images/common/brief_list10_img_01.jpg);}
.brief .slide_list .list10 .opa_wrap{position:absolute; left:64px; top:195px;}
.brief .slide_list .list10 ul{position:absolute; left:350px; top:200px;}
.brief .slide_list .list10 ul:after{content:""; display:block; clear:both;}
.brief .slide_list .list10 ul li{float:left; margin:0 0 20px 20px;}
.brief .slide_list .list10 ul li:first-child{margin-left:0;}
.brief .slide_list .list10 ul li.opa5{clear:both; margin-left:60px;}
.brief .slide_list .list11 .special_box{background-image:url(/resources/images/common/brief_list11_img_01.jpg);}
.brief .slide_list .list11 .opa1{padding:63px 0 0 623px; margin-bottom:80px;}
.brief .slide_list .list11 .opa2{padding-left:626px;}
.brief .slide_list .list11 .opa2 ul{width:441px; height:163px;}
.brief .slide_list .list11 .opa2 ul:after{content:""; display:block; clear:both;}
.brief .slide_list .list11 .opa2 ul li{float:left; width:147px; text-align:center;}
.brief .slide_list .list12 .special_box{background-image:url(/resources/images/common/brief_list12_img_01.jpg);}
.brief .slide_list .list12 .opa1{padding:122px 0 0 64px; margin-bottom:50px;}
.brief .slide_list .list12 .opa2{padding-left:74px;}
.brief .slide_list .list12 .opa2 img{display:block;}
.brief .slide_list .list12 .opa2 img:first-child{padding-left:5px; margin-bottom:40px;}
.brief .slide_list .list13 .special_box{background-image:url(/resources/images/common/brief_list13_img_01.jpg);}
.brief .slide_list .list13 .opa_box{text-align:center;}
.brief .slide_list .list13 .opa1{padding-top:290px; margin-bottom:17px;}
.brief .slide_list .list13 .opa2 {z-index:1000;}
.brief .slide_list .list13 ul{position:absolute; left:0; top:182px; width:100%;}
.brief .slide_list .list13 ul li{width:920px; padding:23px 110px;}
.brief .slide_list .list13 ul li:after{content:""; display:block; clear:both;}
.brief .slide_list .list13 ul li span{width:126px; text-align:center;}
.brief .slide_list .list13 ul li .opa_left{float:left;}
.brief .slide_list .list13 ul li .opa_right{float:right;}
.brief .slide_list .list14 .special_box{background-image:url(/resources/images/common/brief_list14_img_01.jpg);}
.brief .slide_list .list14 .opa1{padding-top:360px; text-align:center;}
.brief .slide_list .list14 .opa_wrap{position:absolute; left:50%; top:218px; width:1000px; height:245px; margin-left:-500px;}
.brief .slide_list .list14 .opa_wrap ul{padding:60px 30px 0;}
.brief .slide_list .list14 .opa_wrap ul:after{content:""; display:block; clear:both;}
.brief .slide_list .list14 .opa_wrap ul li{float:left; padding:0 25px;}
.brief .slide_list .list15 .special_box{background-image:url(/resources/images/common/brief_list15_img_01.jpg);}
.brief .slide_list .list15 .opa_box{text-align:center;}
.brief .slide_list .list15 .opa1{padding-top:112px}
.brief .slide_list .list15 .opa1 h3{margin-bottom:30px; font-size:23px; font-weight:100; line-height:170%;}
.brief .slide_list .list15 .opa2 img{margin-bottom:73px;}
.brief .slide_list .list15 .opa2 a{display:block; width:188px; margin:0 auto;}
.brief .special_num{overflow:hidden; position:relative; width:1160px; margin:0 auto; padding-bottom:30px; text-align:center;}
.brief .special_num span{display:inline-block; padding:7px 18px; font-size:15px; color:#fff;}
.brief .special_num span.total{background:url(/resources/images/common/brief_num_bar.png) 0 0 no-repeat;}
.brief .special_num a{display:block; width:80px;}
.brief .special_num .btn_prev{float:left;}
.brief .special_num .btn_next{float:right;}
.brief .special_close{position:absolute; top:40px; right:40px;}
.special_dim{display:none; position:fixed; left:0; top:0; z-index:9999; width:100%; height:100%; background:#000; opacity:0;}
.special_dim.on{display:block;}

#blockUi{display:none; position:fixed; left:0; top:0; z-index:100; width:100%; height:100%; background-color:rgba(255,255,255,.5);}
#blockUi.on{display:block;}
#blockUi img{display:block; position:fixed; left:50%; top:50%; width:100px; margin:-50px 0 0 -50px;}